<html>
<body>
	<head>
    <link rel="application.scss" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
  </head>
 <div class="hero">
	<div class="container-fluid">
		<h1 class="about_header">About Re.cycle It
		</h1>
			<img src="http://res.cloudinary.com/re-cycle-it/image/upload/v1431389892/desksmall_fadzmm.jpg
" class="img-responsive">
	</div>
</div>
<div class="founders">
	<div class="row">
		<div class="col-md-6">
			<h2>About the Founders</h2>
			<p>The founders have a passion for furniture and bringing beautiful things into your home.</p>
		</div>
		<div class="col-md-6">
			<img src="http://res.cloudinary.com/re-cycle-it/image/upload/c_scale,e_grayscale,w_334/v1431390093/founders_dzrr2a.jpg" class="img-founders">
		</div>
</body>
</html>
